/* Global Styles */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p {
    color: #303030;
    line-height: 1.5;
}

label {
    color: #303030;
    line-height: 1.5;
    font-size: 1.4rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h1, h2, h3 {
    color: #303030;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
    background: none;
    border: none;
    border-bottom: 2px solid #303030;
    outline: none;
    font-size: 1.6rem;
    padding: 4px;
    color: #303030;
}

input::placeholder {
    color: #303030;
    font-size: 1.6rem;
    opacity: 1;
}

.button {
    display: block;
    padding: 8px 20px;
    background-color: #303030;
    color: white;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    outline: none;
    cursor: pointer;
}

p.success {
    color: #007204;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

p.error {
    color: #DB0700;
    font-size: 1.4rem;
    margin-bottom: 8px;
}

div.content-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

h2 {
    color: #303030;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

h2 img {
    height: 32px;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    
    h2 img {
        height: 22px;
    }
}

h2.floating-heading {
    position: absolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
    color: white;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 40px;
    padding: 8px 0px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 500;
}

h2.floating-heading span.cursor-icon {
    position: relative;
}

h2.floating-heading span.cursor-icon:after {
    content: '';
    background-image: url("../img/cursor-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -35px;
    bottom: -20px;
}

.blue-background {
    background-color: #96D3E4;
}

/* Header Styles */
header.site-header{
    background-color: #303030;
    min-height: 60px;
    padding: 0 32px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

header.header-background-hidden {
    background: none;
}

div.content-site-header{
    max-width: 1400px;
    min-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo-site-header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.logo-site-header{
    display: block;
    height: 35px;
    transition: visibility 0s linear 0ms, opacity 200ms linear;
}

a.logo-site-header img{
    height: 100%;
}

a.logo-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 200ms, opacity 200ms linear;
}

.menu-icon {
    display: none;
}

nav.nav-site-header{
    height: 100%;
}

ul.content-nav-site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
}

li.nav-item-site-header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

li.nav-item-site-header > a > span:after{
    content: none;
}

li.nav-item-show-line > a > span:after {
    content: '';
    display: block;
    height: 1px;
    background-color: white;
}

li.nav-item-show-line > a:hover > span:after {
    background-color: #96D3E4;
}

li.blue-list-item > a {
    background-color: #96D3E4;
    border-radius: 15px;
    padding: 4px 12px;
    color: #303030;
}

li.blue-list-item > a > span:after {
    content: none;
}


@media only screen and (max-width: 1024px) {
    header.site-header {
        padding: 0 20px;
    }

    div.content-site-header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
    }

    a.logo-site-header {
        justify-self: start;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        justify-self: end;
    }

    nav.nav-site-header {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    
    header.site-header-with-hidden-nav-mobile nav.nav-site-header {
        display: none;
    }

    header.site-header:not(.site-header-with-hidden-nav-mobile) {
        background-color: #303030;
    }

    ul.content-nav-site-header{
        display: block;
        width: 100%;
    }

    li.nav-item-site-header {
        display: block;
        padding: 10px 0;
    }
    
    li.nav-item-site-header > a {
        display: block;
        width: 150px;
        text-align: center;
        margin: 0 auto;
    }
    
    li.nav-item-show-line > a > span:after {
        content: none;
    }
}



/** HERO **/
div.hero {
    height: 100vh;
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

div.content-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

h1.fibo-main-heading {
    margin: 0;
    text-align: center;
}

img.logo-hero {
    max-width: 300px;
    width: 50vw;
}

p.slogan-hero {
    color: white;
    font-size: 2.6rem;
    font-weight: 500;
}

div.hero-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

div.hero-buttons > a {
    display: block;
    padding: 12px 18px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

div.hero-buttons > a:nth-child(1) {
    background-color: #96D3E4;
    color: #303030;
}

div.hero-buttons > a:nth-child(2) {
    border: 1px solid white;
    color: white;
}

a.arrow-down-button {
    display: block;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: arrow-animation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

a.arrow-down-button img {
    width: 30px;
}

@keyframes arrow-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 1024px){
    div.content-hero {
        height: 350px;
    }
    
    p.slogan-hero {
        font-size: 2.2rem;
    }
    
    div.hero-buttons {
        display: block;
        width: 250px;
    }
    
    div.hero-buttons > a {
        font-size: 1.2rem;
        font-weight: 700;
    }
    
    div.hero-buttons > a:nth-child(1) {
        margin-bottom: 15px;
    }
    
}

/** WELCOME **/
section.welcome-section {
    background-image: url("../img/welcome-background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

div.content-welcome-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

div.content-welcome-section p {
    text-align: center;
    line-height: 1.5;
}

div.content-welcome-section p:nth-of-type(2) {
    margin-bottom: 15px;
}

span.paragraph-decorator {
    position: relative;
}

span.paragraph-decorator:before {
    content: url("../img/paragraph-decoration.svg");
    display: block;
    position: absolute;
    top: -45px;
    right: -30px;
}

div.content-welcome-section p em {
    font-style: normal;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    span.paragraph-decorator:before {
        content: none;
    }
    
    div.content-welcome-section p:first-of-type {
        margin-bottom: 15px;
    }
}


@media only screen and (max-width: 768px) {
    div.content-welcome-section {
        padding-top: 40px;
        padding-bottom: 70px;
    }
    
    div.content-welcome-section p {
        text-align: left;
    }
}


/** BENEFITS **/
section.benefits-section {
    position: relative;
}

h2.benefits-heading {
    width: 220px;
}

ul.list-benefits {
    display: flex;
    justify-content: space-between;
}

li.list-item-benefit {
    max-width: 280px;
    padding-top: 50px;
    padding-bottom: 10px;
    background-size: 60%;
    background-position: 40% 30%;
    background-repeat: no-repeat;
}

li.list-item-benefit:nth-child(1) {
    background-image: url("../img/benefit1.svg");
}

li.list-item-benefit:nth-child(2) {
    background-image: url("../img/benefit2.svg");
}

li.list-item-benefit:nth-child(3) {
    background-image: url("../img/benefit3.svg");
}

li.list-item-benefit > p:nth-child(1) {
    font-size: 4.6rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 16px;
}

li.list-item-benefit > p:nth-child(1):after {
    content: '';
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 60px;
    height: 3px;
    border-radius: 20px;
}

li.list-item-benefit > h3 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

li.list-item-benefit > p:nth-child(3) {
    font-size: 1.6rem;
    line-height: 1.3;
}

@media only screen and (max-width: 950px) {
    div.content-benefits-section {
        padding-bottom: 50px;
    }

    ul.list-benefits {
        display: block;
    }
    
    li.list-item-benefit {
        margin: 0 auto;
    }
}


/** FEATURES **/
section.features-section {
    background-image: url("../img/logo-fibo-features-background.svg");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center center;
}

div.content-features-section {
    padding: 50px 100px;
    padding-bottom: 80px;
}

ul.list-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 60px;
    grid-column-gap: 140px;
}

li.list-item-feature {
    position: relative;
    min-height: 135px;
}

li.list-item-feature:before {
    content: '';
    display: block;
    background-image: url("../img/feature-decorator.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 135px;
    position: absolute;
    top: 0;
    left: -55px;
}

li.list-item-feature h2 {
    font-size: 2.4rem;
    margin-bottom: 8px;
    text-align: left;
}

li.list-item-feature p {
    line-height: 1.5;
    font-size: 1.6rem;
}

@media only screen and (max-width: 950px) {
    div.content-features-section {
        padding-right: 40px;
        padding-left: 75px;
        padding-bottom: 80px;
    }
    
    ul.list-features {
        display: block;
    }
    
    li.list-item-feature {
        margin-bottom: 40px;
    }
    
    li.list-item-feature:last-of-type {
        margin-bottom: 0;
    }
    
}


/** MORE INFO **/
section.more-info-section {
    background-image: url("../img/logo-fibo-form-background.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20%;
}

div.content-more-info-section {
    position: relative;
}

h2.more-info-heading {
    width: 250px;
}

div.content-form {
    max-width: 600px;
    margin: 0 auto;
}

div.content-form > p:first-child {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.7rem;
}

div.list-inputs-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 50px;
    margin-bottom: 30px;
}

form.more-info-form > p:nth-child(3) {
    margin-bottom: 20px;
}

form.more-info-form > input[type="submit"] {
    margin-top: 20px;
}


@media only screen and (max-width: 680px) {
    div.list-inputs-form {
        grid-column-gap: 50px;
    }
}

@media only screen and (max-width: 550px) {
    section.more-info-section {
        background-image: none;
    }

    div.content-form {
        max-width: 300px;
    }

    div.list-inputs-form {
        grid-template-columns: 1fr;
    }
}

/** NEWSLETTER **/
section.newsletter-section {
    background-image: url("../img/newsletter-background.svg");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

div.content-newsletter-form {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 26px;
}

div.content-newsletter-form > div {
    max-width: 350px;
}

div.content-newsletter-form > div:nth-child(1) h2 {
    text-align: left;
    margin-bottom: 10px;
}

div.content-newsletter-form > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

div.content-newsletter-form > div:nth-child(2) input[type="email"] {
    display: block;
    border: 2px solid #303030;
    padding: 8px 12px;
    background: white;
    border-radius: 25px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 850px) {
    section.newsletter-section {
        padding-bottom: 30px;
    }
    
    div.content-newsletter-form {
        display: block;
        margin: 0 auto;
        max-width: 280px;
        margin-bottom: 25px;
    }

    div.content-newsletter-form > div {
        max-width: 100%;
    }

    div.content-newsletter-form > div:nth-child(1) {
        margin-bottom: 20px;
    }
    
    div.content-newsletter-form > div:nth-child(1) h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    div.content-newsletter-form > div:nth-child(1) p {
        text-align: center;
    }
    
    div.content-newsletter-form > div:nth-child(1) h2 img {
        height: 30px;
    }

    div.content-newsletter-form > div:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    
    div.content-newsletter-form > div:nth-child(2) input[type="email"] {
        margin-bottom: 10px;
    }
}


/** FOOTER **/
footer.site-footer {
    background-color: #303030;
    padding-bottom: 50px;
}

footer.site-footer p,
footer.site-footer h3,
footer.site-footer i {
    color: white;
}

div.content-footer {
    max-width: 800px;
    padding: 30px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

div.div-footer h3 {
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
    margin-bottom: 20px;
}

div.div-footer p {
    margin-bottom: 6px;
    font-size: 1.5rem;
}

div.div-footer h3:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

ul.list-social-media {
    display: flex;
    justify-content: start;
}

ul.list-social-media li i {
    font-size: 3rem;
    margin-right: 8px;
}

div.companies-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

div.companies-footer > img:first-child {
    margin-right: 20px;
    height: 30px;
}

div.companies-footer > img:last-child {
    height: 40px;
}

footer.site-footer > p:last-child {
    text-align: center;
    font-size: 1.5rem;
    padding: 8px 0;
}


@media only screen and (max-width: 850px) {
    div.content-footer {
        max-width: 300px;
        margin: 0 auto;
        grid-template-columns: 1fr;
    }
}