/* Global Styles */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p {
    color: #303030;
}

h1, h2, h3 {
    color: #303030;
}

div.content-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

/* Header Styles */
header.site-header{
    background-color: #303030;
    height: 60px;
    padding: 0 32px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

div.content-site-header{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo-site-header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.content-logo-site-header{
    display: block;
    height: 35px;
}

h1.content-logo-site-header img{
    height: 100%;
}

nav.nav-site-header{
    height: 100%;
}

ul.content-nav-site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
}

nav.nav-site-header {
    height: 100%;
}

li.nav-item-site-header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

li.nav-item-site-header > a > span:after{
    content: '';
    display: block;
    height: 1px;
    background-color: white;
}

li.blue-list-item > a {
    background-color: #96D3E4;
    border-radius: 15px;
    padding: 4px 12px;
    color: #303030;
}

li.blue-list-item > a > span:after {
    content: none;
}


/** HERO **/
div.hero {
    height: 100vh;
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

img.logo-hero {
    width: 300px;
}

p.slogan-hero {
    color: white;
    font-size: 2.6rem;
    font-weight: 500;
}

div.hero-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

div.hero-buttons > a {
    display: block;
    padding: 12px 18px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

div.hero-buttons > a:nth-child(1) {
    background-color: #96D3E4;
    color: #303030;
}

div.hero-buttons > a:nth-child(2) {
    border: 1px solid white;
    color: white;
}


/** WELCOME **/
section.welcome-section {
    background-image: url("../img/welcome-background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

div.content-welcome-section {
    padding-top: 90px;
    padding-bottom: 90px;
}

h2.welcome-heading {
    color: #303030;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

h2.welcome-heading img {
    height: 32px;
}

div.content-welcome-section p {
    text-align: center;
    line-height: 1.5;
}

span.paragraph-decorator {
    position: relative;
}

span.paragraph-decorator:before {
    content: url("../img/paragraph-decoration.svg");
    display: block;
    position: absolute;
    top: -45px;
    right: -30px;
}

div.content-welcome-section p em {
    font-style: normal;
    font-weight: bold;
}



/** BENEFITS **/
section.benefits-section {
    position: relative;
    background-color: #96D3E4;
}

h2.benefits-heading {
    position: absolute;
    top: -22.5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #303030;
    color: white;
    font-size: 2.4rem;
    width: 220px;
    text-align: center;
    border-radius: 40px;
    padding: 8px 0px;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 500;
}

span.cursor-icon {
    position: relative;
}

span.cursor-icon:after {
    content: '';
    background-image: url("../img/cursor-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    right: -35px;
    bottom: -20px;
}

ul.list-benefits {
    background-color: #96D3E4;
    display: flex;
    justify-content: space-between;
}

li.list-item-benefit {
    width: 280px;
}

li.list-item-benefit > p:nth-child(1) {
    font-size: 4.6rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 16px;
}

li.list-item-benefit > p:nth-child(1):after {
    content: '';
    display: block;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 60px;
    height: 3px;
    border-radius: 20px;
}

li.list-item-benefit > h3 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

li.list-item-benefit > p:nth-child(3) {
    font-size: 1.6rem;
    line-height: 1.3;
}