/* Global Styles */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header Styles */
header.site-header{
    background-color: #303030;
    height: 60px;
    padding: 0 32px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

div.content-site-header{
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo-site-header{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.content-logo-site-header{
    display: block;
    height: 35px;
}

h1.content-logo-site-header img{
    height: 100%;
}

nav.nav-site-header{
    height: 100%;
}

ul.content-nav-site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
    height: 100%;
}

nav.nav-site-header {
    height: 100%;
}

li.nav-item-site-header > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

li.nav-item-site-header > a > span:after{
    content: '';
    display: block;
    height: 1px;
    background-color: white;
}

li.blue-list-item > a {
    background-color: #96D3E4;
    border-radius: 15px;
    padding: 4px 12px;
    color: #303030;
}

li.blue-list-item > a > span:after {
    content: none;
}


/** HERO **/
div.hero {
    height: 100vh;
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.content-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

img.logo-hero {
    width: 300px;
}

p.slogan-hero {
    color: white;
    font-size: 2.6rem;
    font-weight: 500;
}

div.hero-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

div.hero-buttons > a {
    display: block;
    padding: 12px 18px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

div.hero-buttons > a:nth-child(1) {
    background-color: #96D3E4;
    color: #303030;
}

div.hero-buttons > a:nth-child(2) {
    border: 1px solid white;
    color: white;
}